@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

html, body {
    height: 100%;
    background: #0D1418;
    font-family: 'Nunito', sans-serif;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
#chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2vw;
}
  
input {
    width: 60vw;
    border: 1px solid #ddd;
    height: 5vw;
    padding: 0 2vw;
    font-size: 1.5vw;
}
  
button {
    width: 60vw;
    height: 5vw;
    font-size: 1.5vw;
    background: #056162;
    text-align: center;
    line-height: 5vw;
    font-weight: bold;
    color: #FFF;
    margin-top: 1vw;
    border: none;
}
  
.messages {
    width: 60vw;
    height: 40vw;
    margin: 2vw 0;
    border: 1px solid #ddd;
    padding: 2vw;
    background: #0D1418;
    color: #cedcdd;
}

p {
    margin-top: 10px;
    color: #cedcdd;
}

p a {
    color: #cedcdd
}